<%include partials/header%>
<main style="margin:0px 40px 0px 220px">
   <% if(!istime11||myresult.length==0)
   {%>
		<h2>You Have No Orders To Do At Present</h2>
		<img style="height: 400px"  src="https://skulzstudios.files.wordpress.com/2013/09/page_16.jpg" >    		
   <%}
   else{%>
		<div class="card_deck">	
	    	<%for(var j=0;j<myresult.length;j++){%>		
	        	<div class="row">
	            	<div class="col-md-3">		
	                    <div class="card">    		
	                    	<img style="height: 200px" src=<%=menuresult[myresult[j].item].item_url%> >    		
    	                	<div class="card-body">     			
    	                      <h5 class="card-title"><%=menuresult[myresult[j].item].item_name%></h5>      			
    	                      <h5 class="card-title">Quantity= <%=myresult[j].quantity%></h5>
                                <h5 class="card-title">Order Id= <%=myresult[j].o_id%></h5>
    	                      <form method="post" action="/chef/confirm/<%=username%>/<%=myresult[j]._id%>">    			
    	                        <button type="submit" class="btn btn-outline-success">Cooked</button>
    	                      </form>    		
    	                    </div>
    	                </div>    
	                </div>	    
	                 <%	j++;	
	                 if(j<myresult.length)
	                 {%>
	                	<div class="col-md-3">		
  	                		<div class="card">    		
  	                    		<img style="height: 200px" src=<%=menuresult[myresult[j].item].item_url%> >    		
  	                    		<div class="card-body">      			
  	                    			<h5 class="card-title"><%=menuresult[myresult[j].item].item_name%></h5>      			
  	                    			<h5 class="card-title">Quantity= <%=myresult[j].quantity%></h5>
                                    <h5 class="card-title">Order Id= <%=myresult[j].o_id%></h5>
  	                    			<form method="post" action="/chef/confirm/<%=username%>/<%=myresult[j]._id%>">     			
  	                        			<button type="submit" class="btn btn-outline-success">Cooked</button>
  	                        		</form>    		
  	                    		</div>    	
  	                		</div>
  	                	</div>  
	                  <%}    
	                  j++;    
	                  if(j<myresult.length)
	                  {%>			
	                	<div class="col-md-3">
	                    	<div class="card">    		
	                    		<img style="height: 200px" src=<%=menuresult[myresult[j].item].item_url%> >    		
	                    		<div class="card-body">      			
	                        		<h5 class="card-title"><%=menuresult[myresult[j].item].item_name%></h5>      			
	                        		<h5 class="card-title">Quantity= <%=myresult[j].quantity%></h5>
                                    <h5 class="card-title">Order Id= <%=myresult[j].o_id%></h5>
	                        		<form method="post" action="/chef/confirm/<%=username%>/<%=myresult[j]._id%>">     			
	                        			<button type="submit" class="btn btn-outline-success">Cooked</button>
	                        		</form>    		
	                    		</div>    	
	                    	</div>
	                   </div>  
	                   <%}%>
	                   <br>
	                </div>
	             <%}%>
	        </div>
	    <%}%>
	    </main>
</body>
</html>
