<%include partials/header%>
<main style="margin:0px 40px 0px 220px">
	<%if(!istime11||checkresult.length == 0){%>
		<h2>No Orders At Present</h2>
		<img style="height: 400px"  src="https://skulzstudios.files.wordpress.com/2013/09/page_16.jpg" >
	<%}else {%>
		<div class="card_deck">   
			<%for(var j=0;j<checkresult.length;j++){%>	
				<div class="row">	
					<div class="col-md-3">
						<div class="card" >    		
							<img style="height: 200px"  src=<%=menuresult[checkresult[j].item-1].item_url%> >    		
							<div class="card-body">     			
								<h5 class="card-title"><%=menuresult[checkresult[j].item-1].item_name%></h5>      			
								<h5 class="card-title">Quantity= <%=checkresult[j].quantity%></h5>     			
								<form method="post" action="/chef/order/<%=username%>/<%=checkresult[j]._id%>">    			
									<button type="submit" class="btn btn-outline-success">Choose to cook</button>
								</form>    		
							</div>    	
						</div>
					</div>	
				<%	j++;	
				if(j<checkresult.length)
				{%>		
					<div class="col-md-3">
						<div class="card">    		
							<img style="height: 200px"  src=<%=menuresult[checkresult[j].item-1].item_url%> >    		
							<div class="card-body">      			
								<h5 class="card-title"><%=menuresult[checkresult[j].item-1].item_name%></h5>      			
								<h5 class="card-title">Quantity= <%=checkresult[j].quantity%></h5>     			
								<form method="post" action="/chef/order/<%=username%>/<%=checkresult[j]._id%>">     			
									<button type="submit" class="btn btn-outline-success">Choose to cook</button>
								</form>    		
							</div>    	
						</div>
					</div>
				<%}  j++;    
				if(j<checkresult.length)
				{%>	
					<div class="col-md-3">
						<div class="card">    		
							<img style="height: 200px"  src=<%=menuresult[checkresult[j].item-1].item_url%> >    		
							<div class="card-body">      			
								<h5 class="card-title"><%=menuresult[checkresult[j].item-1].item_name%></h5>      			
								<h5 class="card-title">Quantity= <%=checkresult[j].quantity%></h5>     			
								<form method="post" action="/chef/order/<%=username%>/<%=checkresult[j]._id%>">     			
									<button type="submit" class="btn btn-outline-success">Choose to cook</button>
								</form>    		
							</div>    	
						</div>
					</div>
				<%}%>    
				</div>
				<br>
			<%}%>
		</div>
	<%}%>
</main>		
<%include partials/footer%>
