<html>
    <head>
        <style>
             body{
                 margin:0;
            }
            .nav {                
                list-style-type:none;
                margin:0;
                padding:0;
                width:15%;
                height:100%;
    position:fixed;
    overflow: auto;
    background-color: lightgrey;
                
            }
            .nav li a{
                display:block;
                color:black;
                text-decoration: none;
                padding:8px 16px;
            }
            .nav li:last-child {
                border-bottom: none;
            }

            .nav li a:hover:not(.active) {
                background-color: darkgrey;
            }
            .nav  a:hover,a:active{
                background-color: lightgreen;
            }
            .nav li a.active {
                background-color: lightgreen;
            }
            .og-grid {
                padding-top:10%;
	               list-style: none;
	               padding: 20px 0;
	               margin: 0 auto;
	               width: 100%;
                    padding-left: 17%;
    
                }

            .og-grid li {
                 display:block;
	               margin: 10px 5px 0 5px;
	               vertical-align: top;
                    width:75%;
	                height: 200px;
                padding-left: 10px;
                    border: 1px solid #555;
                    background-color: #f1f1f1;
                    border-radius: 10px;
                    
                }
            .og-grid button{
                position: absolute;
                left:75%;
                background-color: forestgreen;
                border:none;
                border-radius: 20px;
                outline-color: black;
                width:150px;
                height:40px;
                color:white;
            }
            .og-grid ul{
                border:1px solid #555;
                background-color: #f1f1f1;
                list-style-type:none;
    
            }
            
        </style>
    </head>
    <body>
        <ul id="nav" class="nav">
            <li><a class="active" href="/delivery/<%=dname%>">Orders to deliver</a></li>
            <li><a  href="/deliveredorders/<%=dname%>">Delivered orders</a></li>
    </ul> 
        <h1 style="margin-left:17%;height:10px;">Hi <%=dname%>!!</h1>
       
        <ul id="og-grid" class="og-grid">
        <main id="x">
            
        </main>
        <script type="text/javascript">         
document.getElementById("x").innerHTML='<%for(var i=0;i<a.length;i++){%><% if(a[i].status=='1'){%><li id=i>o_id:<%=a[i].o_id%> <p>username:<%=a[i].uname%></p><p>cost:<%=a[i].cost%></p><form method="get" action="/delconfirm/<%=dname%>/<%=a[i].o_id%>"><button>Delivered</button></form></li><%}%><%}%>';
        </script>
</ul>
    </body>
    
</html>
